<div class="main-content">
  <div class="container">

    <!-- Heading Row -->
     
    <br> <br> 

        <div class="row">

          <div  *ngFor="let idea of ideas" class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-head">
                <span class="card-head-l">{{idea.category}}</span>
                <span class="card-head-r">
                  <a href="">{{idea.followers}}</a> <a href=""><i class="fa fa-thumbs-up"></i></a> <a href=""><i class="fa fa-thumbs-down"></i></a></span>
              </div>
              <div class="card-body padding-top-0">
                <h2 class="card-title">{{idea.name}}</h2>
                <p class="card-text">{{idea.description}}</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-secondary">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>

     
  
  </div>
</div>