<app-header></app-header>
<div class="main-content">
<div class="container">
  <div class="row">
    <div class="contact_mail">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="send_mail">
          <br><br>
          <div class="section_title margin-bottom-40">
            <h4>Ecrivez-nous!</h4>
          </div>
          <form action="" method="post">
            <div class="row">
              <div class="col-lg-9 col-md-9">
                <input type="text" placeholder="Nom *" name="nom" required>
              </div>
              <div class="col-lg-9 col-md-9">
                <input type="text" placeholder="Prénom(s) *" required name="prenoms">
              </div>
              <div class="col-lg-9 col-md-9">
                <input type="text" placeholder="Email *" required name="email" />
              </div> 
              <div class="col-lg-9 col-md-9">
                <input type="text" placeholder="Téléphone *" required name="telephone" />
              </div>
              <div class="col-lg-9 col-md-9">
                <textarea name="message" placeholder="Message" required></textarea>
              </div>
              <div class="col-lg-4 col-md-4">
                <!-- <a href="#" class="btn btn-warning btn-md"></a> -->
                <input class="btn btn-primary btn-md" type="submit" name="submit" value="Envoyer" />
              </div>
            </div>
          </form>
        </div>
      </div>
       
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>